@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=PT+Serif&display=swap');

body { font-family:'Noto Sans KR', sans-serif,'PT Serif', serif; cursor:default; min-width:319px; }


/* hamburger 스타일시트 */
.hamburger-button { position:fixed; top:0.7rem; right:2rem; display:none!important; transition:.3s ease-in-out; width:38px; height:32px; display:block; z-index:1001; }
.hamburger-button span { display:none; position:absolute; width:100%; height:5px; border-radius:4px; background-color:#494c50; top:0; 
                         transition:transform .2s ease-in-out, opacity .2s ease-in-out; }
.hamburger-button span:nth-child(1) { top:0px; }
.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) { top:13px; }
.hamburger-button span:nth-child(4) { top:26px; }
.hamburger-button.active span { background-color:#FFF; }
.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) { opacity:0; }
.hamburger-button.active span:nth-child(2) { transform: rotate(45deg); }
.hamburger-button.active span:nth-child(3) { transform: rotate(-45deg); }

/*  overaly화면 + 네비 */
.overlay { position:fixed; z-index:1000; background:#000; top:0; left:0; width:100%; height:0%; opacity:0; visibility:hidden; 
           transition:opacity .3s, visibility .3s, height .3s; display:flex; align-items:center; justify-content:center; }
.overlay.visible { opacity:0.93; visibility:visible; height:100%; }		   

.menu { font-size:2rem; font-family:'Roboto', Arial, Helvetica, sans-serif; text-align:center; }
.menu ul { list-style:none; padding:0; margin:0; }
.menu ul li { margin:2rem 0; }
.menu ul li a { color:#FFF; text-decoration:none; transition:opacity .2s ease; opacity:0.75;}
.menu ul li a:hover { opacity:1;}


/* navTop 스타일시트 */
#navTop { position:fixed; width:100%; height:90px; z-index:1; overflow:hidden; background:#fff; opacity:0.9; box-shadow:0px 10px 17px -8px rgb(181 191 199 / 26%); }
#navTop_box { width:80%; height:90px; margin:0 auto; transition:all 1s; position:relative; }
#navTop_box #logo { width:210px; overflow:hidden; position:relative; }
#navTop_box #logo > a { float:left; line-height:80px; }
#navTop_box #logo > a > img { width:100%; vertical-align:middle; transition:all 1s; }
#navTop_box #logo > span { display:inline-block; font-size:13px; position:relative; top:38px; left:10px; }
#navTop_box #topMenu { position:absolute; right:0; top:0px; overflow:hidden; }
#navTop_box #topMenu li { float:left; margin-left:30px; line-height:85px; transition:all 1s; }
#navTop_box #topMenu li a { font-size:18px; font-weight:bold; }
#navTop_box #topMenu li.active > a { color:#9caed2; font-weight:bold; border-bottom:3px solid #f1c8c4; padding-bottom:4px; }

.section_content { width:1280px; margin:0 auto; transition:all 1s; }
.section_content h2 { position:relative; text-align:center; font-size:36px; color:#000; letter-spacing:5px; }

/* s0 스타일시트 */
.section_home { background:url(../img/background.jpg) no-repeat center; background-size:cover; width:90%; height:100%; margin:0 auto; position:relative; transition:all 1s; }
.section_home .scroll_img { position:absolute; bottom:100px; left:50%; width:72px; height:72px; margin-left:-36px; cursor:pointer; animation:ani 0.5s infinite alternate; }

@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff; }
	100% { transform:scale(1.2); opacity:0.8; color:#888; }
}


/* s1 스타일시트 */
.pr_container { overflow:hidden; padding-top:50px; }

.left_box { width:50%; height:300px; float:left; margin-top:7%; }

.right_box { width:50%; height:300px; float:right; }
.right_box .pr_strengths ul li { line-height:35px; padding:7px; }
.right_box .pr_strengths ul li p:nth-child(1) { font-family:'Noto Sans KR', sans-serif; font-size:20px; font-weight:bold; }    

.ct_box { width:100%; height:200px; background:#f6f7f9; position:relative; margin-top:33%; }
.ct_inbox { width:calc(100% - 40px); height:calc(100% - 40px); margin:auto; border:1px solid #ebe7e4; position:relative; top:20px; }
.ct_inbox .ct_title { text-align:center; position:relative; top:-20px; }
.ct_inbox .ct_title h3 { text-align:center; width:140px; display:inline-block; background:#f6f7f9; font-size:23px; color:#46524a; }
.ct_inbox .ct_txt { display:flex; }
.ct_inbox .ct_txt ul { flex:1; float:left; }
.ct_inbox .ct_txt ul li { text-align:center; font-size:18px; }
.ct_inbox .ct_txt ul li:nth-child(1) { text-align:center; padding:15px 0 12px 0; }
.ct_inbox .ct_txt ul li:nth-child(1) img { width:10%; vertical-align:bottom; }



/* s2 스타일시트 */
.skill_wrapper { display:grid; grid-template-columns:50% 50%; grid-template-rows:280px 280px; padding-top:60px; }
.skill_wrapper { display:-ms-grid; display:grid; -ms-grid-columns:33.33% 33.33% 33.33%; grid-template-columns:49% 50%; -ms-grid-rows:280px 280px; 
                 grid-template-rows:280px 280px; padding-top:60px; }
.skill_wrapper > *:nth-child(1) { -ms-grid-row:1; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(2) { -ms-grid-row:1; -ms-grid-column:2; }
.skill_wrapper > *:nth-child(3) { -ms-grid-row:2; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(4) { -ms-grid-row:2; -ms-grid-column:2; }
.skill_wrapper > *:nth-child(5) { -ms-grid-row:2; -ms-grid-column:2; }
.skill_wrapper > *:nth-child(6) { -ms-grid-row:2 ;-ms-grid-column:3; }

.skill_item { _border:2px solid #ccc; }
.skill_item:nth-child(2) { border-left:0; }
.skill_item:nth-child(3) { border-left:0; }
.skill_item:nth-child(4) { border-top:0; }
.skill_item:nth-child(5) { border-left:0; border-top:0; }
.skill_item:nth-child(6) { border-left:0; border-top:0; }

.skill_item .sk_title { font-size:20px; text-align:center; padding:10px 0; margin:20px 20px 0px 20px; background:#f6f7f9; }
.skill_item .sk_txt_box { width:100%; height:215px; padding:0 28px; display:table; }
.skill_item .sk_txt_box .sk_txt { display:table-cell; vertical-align:middle; margin:0 auto; }
.skill_item .sk_txt_box .sk_txt li { padding:7px 0; line-height:1.4; }
.skill_item .sk_txt_box .sk_txt li img { padding-right:7px; }



/* s3 스타일시트 */
.slide { width:100%; height:80%; overflow:hidden; }
.slide a { display:block; }
.slide h2 { padding-bottom:25px;  }

.slide .pf_container { width:100%; position:relative; transition:all 1s; display:flex; justify-content:center; background:#f6f7f9; overflow:hidden;
                       box-shadow:0 0 20px rgb(0 0 0 / 15%); }
.slide .pf_container .pf_img_1 { width:530px; position:relative; top:0; margin-top:20px; }
.slide .pf_container .pf_img_2 { width:250px; position:absolute; right:180px; top:170px; }
.slide .pf_container .pf_img_3 { width:120px; position:absolute; left:270px; top:220px; }
.slide .pf_container .cover { position:absolute; left:0; top:0; background:url(../img/cover.png); width:100%; height:100%; }
.slide .pf_container .pf_text { position:absolute; left:0; top:38%; font-size:24px; width:100%; text-align:center; }
.slide .pf_container .pf_text h3 { margin-bottom:10px; color:#FFF; }
.slide .pf_container .pf_text p { font-size:20px; color:#FFF; }

.slide .pf_container .pf_text .site { display:flex; justify-content:center; width:100%; margin-top:5px; }
.slide .pf_container .pf_text .site button { background:none; border:1px solid #FFF; padding:5px 6px; transition:all 0.4s; color:#FFF; cursor:pointer; }
.slide .pf_container .pf_text .site button:hover { background:#FFF; color:#000; }
.slide .pf_container .pf_text .site .link { width:92.36px; height:30px; border:1px solid #FFF; margin-left:10px; transition:all 0.4s; 
                                            font-size:13px; padding:5px 6px; color:#FFF; }
.slide .pf_container .pf_text .site .link:hover { background:#FFF; color:#000; }

.fp-controlArrow.fp-prev { left:9%; background:url(../img/left_btn.png) no-repeat; width:50px; height:149px; z-index:1; transition:all 1s; }
.fp-controlArrow.fp-prev:hover { background:url(../img/left_btn_hover.png) no-repeat; transition:all 2s; }
.fp-controlArrow.fp-next { right:9%; background:url(../img/right_btn.png) no-repeat; width:50px; height:149px; z-index:1; transition:all 1s; }
.fp-controlArrow.fp-next:hover { background:url(../img/right_btn_hover.png) no-repeat; transition:all 2s;  }
.fp-slidesNav.fp-bottom { text-align:center; bottom:85px; }


#footer { position:absolute; left:0; bottom:0; background:#9caed2; width:100%; height:70px; line-height:33px; }
#footer_txt { width:100%; text-align:center; color:#f6f6f6; font-size:14px; }


/* modal 스타일시트 */
.modal { position:fixed; background:rgba(0,0,0,0.6); top:305%; left:0; display:none; z-index:9999; width:100%; height:100%; }
.modal_container { width:100%; height:97%; display:flex; justify-content:center; align-items:center; }
.modal_body { position:relative; width:calc(100vw - 500px); height:800px; max-width:1620px; min-height:188px; padding:60px 20px 20px; background-color:#FFF; border-radius:6px;
              box-shadow: 0 5px 32px 0 rgb(15 15 15 / 15%); border:1px solid #c7c7c7; }
.modal_content { overflow-y:scroll; padding-right:4px; max-height:700px; }
.popup1,
.popup2,
.popup3 { display:block; width:100%; }


.closebtn { position:absolute; top:20px; right:24px; background:none; border:0; width:20px; height:20px; cursor:pointer; }				  													     
   

@media screen and (min-width:1280px) and (max-width:1599px) {
#navTop_box { width:90%; }
.section_content { width:90%; }
.home_middle_line1 { _width:35%; }
.home_middle_line2 { _width:10%; }
.fp-controlArrow.fp-prev { left:4%; background-size:90%; }
.fp-controlArrow.fp-prev:hover { background-size:90%; }
.fp-controlArrow.fp-next { right:4%; background-size:90%; }
.fp-controlArrow.fp-next:hover { background-size:90%; }
.slide .pf_img_container .pf_img_1 { width:450px; }
.slide .pf_img_container .pf_img_2 { width:190px; }
.slide .pf_img_container .pf_img_3 { width:110px; }
}



@media screen and (min-width:940px) and (max-width:1279px) {
#navTop { width:100%; height:60px; }
#navTop_box { width:90%; height:60px; }
#navTop_box #logo { width:200px; }
#navTop_box #logo > a { float:left; line-height:50px; }
#navTop_box #logo > div { width:50px; line-height:60px; }
#navTop_box #logo > div > img { width:90%; }
#navTop_box #logo > span { font-size:12px; top:32px; left:5px; }
#navTop_box #topMenu li { padding-left:25px; line-height:60px; }
#navTop_box #topMenu li a { font-size:16px; }
#navTop_box #topMenu li.active > a { border-bottom:2px solid #f1c8c4; padding-bottom:3px; }
.section_content { width:90%; }
.section_content h2 { position:relative; text-align:center; font-size:24px; letter-spacing:4px; }
.section_content1 h2 { color:#fff; padding:10px 0px; margin-top:60px; }
.section_content2 h2 { margin-top:50px; }


/*s0*/
.section_home { width:calc(100% - 150px); height:calc(100% - 120px); margin:80px; }

#home_right { right:-80px; top:300px; transform:rotate(90deg); }
#home_right_txt { font-size:13px; }
#home_bottom_txt { left:110px; bottom:-25px; font-size:14px; }

.home_right_line { height:200px; right:-20px; }
.home_left_line { height:300px; left:-15px; bottom:-25px; }
.home_bottom_line { width:110px; left:-25px; bottom:-15px; }
.home_middle_line1 { _display:none; }
.home_middle_line2 { _display:none; }

    
/*s1*/
.left_box { width:50%; height:300px; float:left; margin-top:0; }

.right_box { width:50%; height:300px; float:right; }
.right_box .pr_strengths ul li { line-height:25px; }
.right_box .pr_strengths ul li p:nth-child(1) { font-family:'Noto Sans KR', sans-serif; font-size:20px; font-weight:bold; }
.right_box .pr_strengths ul li p:nth-child(2) { font-size:15px; }    
    
.ct_box { width:100%; height:200px; background:#f6f7f9; position:relative; margin-top:40%; }

    
/*s2*/
.skill_wrapper { display:grid; grid-template-columns:50% 50%; grid-template-rows:190px 190px 190px; padding-top:20px;}
.skill_wrapper { display:-ms-grid; display:grid; -ms-grid-columns:50% 50%; grid-template-columns:50% 50%; -ms-grid-rows:190px 190px 190px; 
                grid-template-rows:190px 190px 190px; padding-top:20px; }
.skill_wrapper > *:nth-child(1) { -ms-grid-row:1; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(2) { -ms-grid-row:1; -ms-grid-column:2; }
.skill_wrapper > *:nth-child(3) { -ms-grid-row:2; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(4) { -ms-grid-row:2; -ms-grid-column:2; }
.skill_wrapper > *:nth-child(5) { -ms-grid-row:3; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(6) { -ms-grid-row:3; -ms-grid-column:2; }
.skill_item:nth-child(2) { border-left:0; }
.skill_item:nth-child(3) { border-top:0; }
.skill_item:nth-child(4) { border-top:0; border-left:0; }
.skill_item:nth-child(5) { border-left:2px solid #ccc; border-top:0; }
.skill_item:nth-child(6) { border-left:0; border-top:0; }
.skill_item .sk_title { font-size:17px; padding:7px 0; margin:10px 10px 0px 10px; }
.skill_item .sk_txt_box { width:100%; height:145px; padding:0 12px; }
.skill_item .sk_txt_box .sk_txt li { padding:3px 0; line-height:1.4; font-size:14px; }
.skill_item .sk_txt_box .sk_txt li img { padding-right:7px; width:23px; }
    

/*s3*/
.slide h2 { padding-bottom:50px; }
.section_content3 { width:700px; }
.slide .pf_container { width:100%; position:relative; transition:all 1s; display:flex; justify-content:center; background:#f6f7f9; overflow:hidden; }
.slide .pf_container .pf_img_1 { width:600px; position:relative; top:0; margin-top:20px; }
.slide .pf_container .pf_img_2 { width:250px; position:absolute; right:100px; top:170px; }
.slide .pf_container .pf_img_3 { width:120px; position:absolute; left:200px; top:220px; }

/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom { bottom:6%; }
.fp-controlArrow.fp-prev { left:2%; background-size:80%; }
.fp-controlArrow.fp-prev:hover { background-size:80%; }
.fp-controlArrow.fp-next { right:2%; background-size:80%; }
.fp-controlArrow.fp-next:hover { background-size:80%; }
.fp_name { display:none; }

#footer { position:absolute; left:0; bottom:0; background:#9caed2; width:100%; height:50px; line-height:25px; }
#footer_txt { font-size:13px; }


/*modal*/
.modal_body { position:relative; width:calc(100vw - 200px); height:800px; max-width:1620px; min-height:188px; padding:60px 20px 20px; background-color:#FFF; border-radius:6px;
              box-shadow: 0 5px 32px 0 rgb(15 15 15 / 15%); border:1px solid #c7c7c7; }
}



@media screen and (min-width:768px) and (max-width:939px) {
#navTop { width:100%; height:60px; }
#navTop_box { width:90%; height:60px; }
#navTop_box #logo { width:200px; }
#navTop_box #logo > a { float:left; line-height:50px; }
#navTop_box #logo > div { width:50px; line-height:60px; }
#navTop_box #logo > div > img { width:90%; }
#navTop_box #logo > span { font-size:12px; top:32px; left:5px; }
#navTop_box #topMenu li { padding-left:25px; line-height:60px; }
#navTop_box #topMenu li a { font-size:16px; }
#navTop_box #topMenu li.active > a { border-bottom:2px solid #f1c8c4; padding-bottom:3px; }
.section_content { width:90%; }
.section_content h2 { position:relative; text-align:center; font-size:24px; letter-spacing:4px; }
.section_content1 h2 { color:#fff; padding:10px 0px; margin-top:60px; }
.section_content2 h2 { margin-top:50px; }

    
/*s0*/
.section_home { background:url(../img/background2.jpg) no-repeat center; }

#home_right { right:-80px; top:300px; transform:rotate(90deg); }
#home_right_txt { font-size:13px; }
#home_bottom_txt { left:110px; bottom:-25px; font-size:14px; }

.home_right_line { height:200px; right:-20px; }
.home_left_line { height:300px; left:-15px; bottom:-25px; }
.home_bottom_line { width:110px; left:-25px; bottom:-15px; }
.home_middle_line1 { _display:none; }
.home_middle_line2 { _display:none; }

    
/*s1*/
.left_box { width:50%; height:270px; float:left; margin-top:0; }

.right_box { width:50%; height:270px; float:right; }
.right_box .pr_strengths ul li { line-height:23px; }
.right_box .pr_strengths ul li p:nth-child(1) { font-family:'Noto Sans KR', sans-serif; font-size:15px; font-weight:bold; }
.right_box .pr_strengths ul li p:nth-child(2) { font-size:13px; }    
    
.ct_box { width:100%; height:200px; background:#f6f7f9; position:relative; margin-top:45%; }

    
/*s2*/
.skill_wrapper { display:grid; grid-template-columns:50% 50%; grid-template-rows:190px 190px 190px; padding-top:20px;}
.skill_wrapper { display:-ms-grid; display:grid; -ms-grid-columns:50% 50%; grid-template-columns:50% 50%; -ms-grid-rows:190px 190px 190px; 
                grid-template-rows:190px 190px 190px; padding-top:20px; }
.skill_wrapper > *:nth-child(1) { -ms-grid-row:1; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(2) { -ms-grid-row:1; -ms-grid-column:2; }
.skill_wrapper > *:nth-child(3) { -ms-grid-row:2; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(4) { -ms-grid-row:2; -ms-grid-column:2; }
.skill_wrapper > *:nth-child(5) { -ms-grid-row:3; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(6) { -ms-grid-row:3; -ms-grid-column:2; }
.skill_item:nth-child(2) { border-left:0; }
.skill_item:nth-child(3) { border-top:0; }
.skill_item:nth-child(4) { border-top:0; border-left:0; }
.skill_item:nth-child(5) { border-left:2px solid #ccc; border-top:0; }
.skill_item:nth-child(6) { border-left:0; border-top:0; }
.skill_item .sk_title { font-size:17px; padding:7px 0; margin:10px 10px 0px 10px; }
.skill_item .sk_txt_box { width:100%; height:145px; padding:0 12px; }
.skill_item .sk_txt_box .sk_txt li { padding:3px 0; line-height:1.4; font-size:14px; }
.skill_item .sk_txt_box .sk_txt li img { padding-right:7px; width:23px; }
    

/*s3*/
.slide h2 { padding-bottom:50px; }
.section_content3 { width:700px; }
.slide .pf_container { width:100%; position:relative; transition:all 1s; display:flex; justify-content:center; background:#f6f7f9; overflow:hidden; }
.slide .pf_container .pf_img_1 { width:600px; position:relative; top:0; margin-top:20px; }
.slide .pf_container .pf_img_2 { width:250px; position:absolute; right:100px; top:170px; }
.slide .pf_container .pf_img_3 { width:120px; position:absolute; left:200px; top:220px; }

/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom { bottom:6%; }
.fp-controlArrow.fp-prev { left:2%; background-size:80%; }
.fp-controlArrow.fp-prev:hover { background-size:80%; }
.fp-controlArrow.fp-next { right:2%; background-size:80%; }
.fp-controlArrow.fp-next:hover { background-size:80%; }
.fp_name { display:none; }

#footer { position:absolute; left:0; bottom:0; background:#9caed2; width:100%; height:50px; line-height:25px; }
#footer_txt { font-size:13px; }


/*modal*/
.modal_body { position:relative; width:calc(100vw - 200px); height:800px; max-width:1620px; min-height:188px; padding:60px 20px 20px; background-color:#FFF; border-radius:6px;
              box-shadow: 0 5px 32px 0 rgb(15 15 15 / 15%); border:1px solid #c7c7c7; }
}



@media screen and (min-width:675px) and (max-width:767px){
#navTop { width:100%; height:50px; }
#navTop_box { width:80%; height:90px; }
#navTop_box #logo > a { float:left; line-height:40px; }
#navTop_box #logo > div { width:40px; line-height:50px; }
#navTop_box #logo > div > img { width:90%; }
#navTop_box #logo > span { display:none; }
#navTop_box #topMenu { display:none; }
.hamburger-button, .hamburger-button span { display:block!important; }

.section_content { width:90%; }
.section_content h2 { position:relative; text-align:center; font-size:24px; letter-spacing:4px; }
.section_content1 h2 { color:#fff; padding:7px 0px; margin-top:50px; }
.section_content2 h2 { margin-top:120px; }

    
/*s0*/
.section_home { background:url(../img/background3.jpg) no-repeat center; }

@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff; }
	100% { transform:scale(1.2); opacity:0.8; color:#888; }
}				


    
/*s1*/
.left_box { width:100%; height:200px; float:left; margin-top:-70px; }

.right_box { width:100%; height:250px; float:right; position:relative; top:0px; text-align:center; }
.right_box .pr_strengths ul li { line-height:25px; }
.right_box .pr_strengths ul li p:nth-child(1) { font-family:'Noto Sans KR', sans-serif; font-size:15px; font-weight:bold; }
.right_box .pr_strengths ul li p:nth-child(2) { font-size:13px; }    
    
.ct_box { width:100%; height:200px; background:#f6f7f9; position:relative; margin-top:70%; } 
.ct_inbox .ct_title { text-align:center; position:relative; top:-15px; }
.ct_inbox .ct_title h3 { text-align:center; width:140px; display:inline-block; background:#f6f7f9; font-size:17px; color:#46524a; }
.ct_inbox .ct_txt { display:flex; margin-top:20px; }
.ct_inbox .ct_txt ul li { text-align:center; font-size:14px; }


    
/*s2*/
.skill_wrapper { display:grid; grid-template-columns:100%; grid-template-rows:70px 70px 70px 70px 90px 60px; padding-top:20px; }
.skill_wrapper { display:-ms-grid; display:grid; -ms-grid-columns:100%; grid-template-columns:100%; -ms-grid-rows:70px 70px 70px 70px 90px 60px; 
                 grid-template-rows:150px 150px 150px 90px 90px 60px; padding-top:20px; }
.skill_wrapper > *:nth-child(1) { -ms-grid-row:1; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(2) { -ms-grid-row:2; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(3) { -ms-grid-row:3; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(4) { -ms-grid-row:4; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(5) { -ms-grid-row:5; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(6) { -ms-grid-row:6; -ms-grid-column:1; }
.skill_item { border:0; }
.skill_item .sk_title { font-size:18px; padding:7px; margin:0px; text-align:left; }
.skill_item .sk_txt_box { width:100%; height:0px; padding:0px; }
.skill_item .sk_txt_box .sk_txt { height:100px; }
.skill_item .sk_txt_box .sk_txt li { float:left; padding:0px 5px; font-size:14px; }
.skill_item .sk_txt_box .sk_txt li img { padding-right:7px; width:21px; }

    
    
/*s3*/
.slide h2 { padding-bottom:40px; }
.section_content3 { width:84%;}
.slide .pf_img_container { display:none; }
.slide .pf_txt_container { width:100%; padding-left:10px; padding-right:10px; margin-top:-30px; }
.slide .pf_container .pf_img_1 { width:400px; position:relative; top:0; margin-top:20px; }
.slide .pf_container .pf_img_2 { width:170px; position:absolute; right:30px; top:120px; }
.slide .pf_container .pf_img_3 { width:100px; position:absolute; left:45px; top:130px; }
.slide .pf_txt_container .pf_title { display:none; }
.slide .pf_txt_container .mpf_img { display:block; margin-bottom:12px; margin:0 auto;}
.slide .pf_txt_container .pf_name { width:34%; float:left; padding:5px 0px; font-size:12px; line-height:1.3; }
.slide .pf_txt_container .pf_text { width:64%; padding:6px 0px; font-weight:bold; font-size:12px; line-height:1.3; }
.slide .pf_txt_container .pf_subtxt { display:none; }
.slide .pf_txt_container p span { display:none; }
.pf_gosite { margin-top:10px; margin-bottom:0px; }
.pf_gosite a { overflow:hidden; position:relative; display:inline-block; vertical-align:top; width:100%; padding:7px 0; font-size:16px; border:1px solid #aaa;                               transition:all 0.5s; }

    
/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom { bottom:17%; }
.fp-controlArrow.fp-prev { left:2%; background-size:80%; }
.fp-controlArrow.fp-prev:hover { background-size:80%; }
.fp-controlArrow.fp-next { right:2%; background-size:80%; }
.fp-controlArrow.fp-next:hover { background-size:80%; }
.fp_name { display: none; }

#footer { position:absolute; left:0; bottom:0; background:#9caed2; width:100%; height:50px; line-height:25px; }
#footer_txt { font-size:13px; }


/*modal*/
.modal_body { position:relative; width:calc(100vw - 200px); height:800px; max-width:1620px; min-height:188px; padding:60px 20px 20px; background-color:#FFF; border-radius:6px;
              box-shadow: 0 5px 32px 0 rgb(15 15 15 / 15%); border:1px solid #c7c7c7; }
}




@media screen and (min-width:480px) and (max-width:674px){
#navTop { width:100%; height:50px; }
#navTop_box { width:90%; height:50px; }
#navTop_box #logo > a { float:left; line-height:40px; }
#navTop_box #logo > a > img { width:75%; vertical-align:middle; transition:all 1s; }
#navTop_box #logo > div { width:40px; line-height:50px; }
#navTop_box #logo > div > img { width:90%; }
#navTop_box #logo > span { display:none; }
#navTop_box #topMenu { display:none; }
.hamburger-button, .hamburger-button span { display:block!important; }

.section_content { width:90%; }
.section_content h2 { position:relative; text-align:center; font-size:18px; letter-spacing:4px; }
.section_content1 h2 { color:#fff; padding:7px 0px; margin-top:50px; }
.section_content2 h2 { margin-top:50px; }

    
/*s0*/
.section_home { background:url(../img/background4.jpg) no-repeat center; }  

@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff; }
	100% { transform:scale(1.2); opacity:0.8; color:#888; }
}				


    
/*s1*/
.left_box { width:100%; height:100px; float:left; margin-top:-90px; }

.right_box { width:100%; height:250px; float:right; position:relative; top:90px; text-align:center; }
.right_box .pr_strengths ul li { line-height:25px; }
.right_box .pr_strengths ul li p:nth-child(1) { font-family:'Noto Sans KR', sans-serif; font-size:15px; font-weight:bold; }
.right_box .pr_strengths ul li p:nth-child(2) { font-size:13px; }    
    
.ct_box { width:100%; height:200px; background:#f6f7f9; position:relative; margin-top:83%; } 
.ct_inbox .ct_title { text-align:center; position:relative; top:-15px; }
.ct_inbox .ct_title h3 { text-align:center; width:140px; display:inline-block; background:#f6f7f9; font-size:17px; color:#46524a; }
.ct_inbox .ct_txt { display:flex; margin-top:20px; }
.ct_inbox .ct_txt ul li { text-align:center; font-size:14px; }


    
/*s2*/
.skill_wrapper { display:grid; grid-template-columns:100%; grid-template-rows:70px 70px 70px 70px 90px 60px; padding-top:20px; }
.skill_wrapper { display:-ms-grid; display:grid; -ms-grid-columns:100%; grid-template-columns:100%; -ms-grid-rows:70px 70px 70px 70px 90px 60px; 
                 grid-template-rows:135px 125px 130px 90px 90px 60px; padding-top:20px; }
.skill_wrapper > *:nth-child(1) { -ms-grid-row:1; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(2) { -ms-grid-row:2; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(3) { -ms-grid-row:3; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(4) { -ms-grid-row:4; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(5) { -ms-grid-row:5; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(6) { -ms-grid-row:6; -ms-grid-column:1; }
.skill_item { border:0; }
.skill_item .sk_title { font-size:14px; padding:7px; margin:0px; text-align:left; }
.skill_item .sk_txt_box { width:100%; height:0px; padding:0px; }
.skill_item .sk_txt_box .sk_txt { height:90px; }
.skill_item .sk_txt_box .sk_txt li { float:left; padding:0px 5px; font-size:12px; }
.skill_item .sk_txt_box .sk_txt li img { padding-right:7px; width:21px; }
    
    
/*s3*/
.slide h2 { padding-bottom 40px; }
.section_content3 { width:84%; }
.slide .pf_img_container { display:none; }
.slide .pf_txt_container { width:100%; padding-left:10px; padding-right:10px; margin-top:-30px; }
.slide .pf_container .pf_img_1 { width:300px; position:relative; top:0; margin-top:20px; }
.slide .pf_container .pf_img_2 { width:130px; position:absolute; right:30px; top:120px; }
.slide .pf_container .pf_img_3 { width:60px; position:absolute; left:45px; top:130px; }
.slide .pf_txt_container .pf_title { display:none; }
.slide .pf_txt_container .mpf_img { display:block; margin-bottom:12px; margin:0 auto; }
.slide .pf_txt_container .pf_name { width:34%; float:left; padding:5px 0px; font-size:12px; line-height:1.3; }
.slide .pf_txt_container .pf_text { width:64%; padding:6px 0px; font-weight:bold; font-size:12px; line-height:1.3; }
.slide .pf_txt_container .pf_subtxt { display:none; }
.slide .pf_txt_container p span { display:none; }
.pf_gosite { margin-top:10px; margin-bottom:0px; }
.pf_gosite a { overflow:hidden; position:relative; display:inline-block; vertical-align:top; width:100%; padding:7px 0; font-size:16px; border:1px solid #aaa; 
               transition:all 0.5s; }

    
/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom { bottom:24%; }
.fp-controlArrow.fp-prev { left:2%; background-size:80%; }
.fp-controlArrow.fp-prev:hover { background-size:80%; }
.fp-controlArrow.fp-next { right:2%; background-size:80% ;}
.fp-controlArrow.fp-next:hover { background-size:80%; }
.fp_name { display:none; }

#footer { position absolute; left:0; bottom:0; background:#9caed2; width:100%; height:50px; line-height:25px; }
#footer_txt { font-size:13px; }


/*modal*/
.modal_body { position:relative; width:calc(100vw - 200px); height:800px; max-width:1620px; min-height:188px; padding:60px 20px 20px; background-color:#FFF; border-radius:6px;
              box-shadow: 0 5px 32px 0 rgb(15 15 15 / 15%); border:1px solid #c7c7c7; }	
}


@media all and (min-width:320px) and (max-width:479px) {
#navTop { width:100%; height:50px; }
#navTop_box { width:90%; height:50px; }
#navTop_box #logo > a { float:left; line-height:40px; }
#navTop_box #logo > a > img { width:75%; vertical-align:middle; transition:all 1s; }
#navTop_box #logo > div { width:40px; line-height:50px; }
#navTop_box #logo > div > img { width:90%; }
#navTop_box #logo > span { display:none; }
#navTop_box #topMenu { display:none; }
.hamburger-button, .hamburger-button span { display:block!important; }

.section_content { width:90%; }
.section_content h2 { position:relative; text-align:center; font-size:18px; letter-spacing:4px; }
.section_content1 h2 { color:#fff; padding:7px 0px; margin-top:50px; }
.section_content2 h2 { margin-top:50px; }

    
/*s0*/
.section_home { background:url(../img/background5.jpg) no-repeat center; }  
.section_home .scroll_img { position:absolute; bottom:50px; left:50%; width:72px; height:72px; margin-left:-36px; cursor:pointer; animation:ani 0.5s infinite alternate; }

@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff; }
	100% { transform:scale(1.2); opacity:0.8; color:#888; }
}				


    
/*s1*/
.pr_container { overflow:hidden; padding-top:0px; }
.left_box { width:100%; height:100px; float:left; margin-top:-50px; }

.right_box { width:100%; height:250px; float:right; position:relative; top:65px; text-align:center; }
.right_box .pr_strengths ul li { line-height:17px; }
.right_box .pr_strengths ul li p:nth-child(1) { font-family:'Noto Sans KR', sans-serif; font-size:14px; font-weight:bold; }
.right_box .pr_strengths ul li p:nth-child(2) { font-size:12px; }    
    
.ct_box { width:100%; height:130px; background:#f6f7f9; position:relative; margin-top:135%; }
.ct_inbox { width:calc(100% - 50px); height:calc(100% - 40px); margin:auto; border:1px solid #ebe7e4; position:relative; top:20px; } 
.ct_inbox .ct_title { text-align:center; position:relative; top:-15px; }
.ct_inbox .ct_title h3 { text-align:center; width:140px; display:inline-block; background:#f6f7f9; font-size:14px; color:#46524a; }
.ct_inbox .ct_txt { display:flex; margin-top:-30px; }
.ct_inbox .ct_txt ul li { text-align:center; font-size:12px; }




    
/*s2*/
.skill_wrapper { display:grid; grid-template-columns:100%; grid-template-rows:70px 70px 70px 70px 90px 60px; padding-top:20px; }
.skill_wrapper { display:-ms-grid; display:grid; -ms-grid-columns:100%; grid-template-columns:100%; -ms-grid-rows:70px 70px 70px 70px 90px 60px; 
                 grid-template-rows:135px 135px 135px 90px 100px 60px; padding-top:20px; }
.skill_wrapper > *:nth-child(1) { -ms-grid-row:1; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(2) { -ms-grid-row:2; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(3) { -ms-grid-row:3; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(4) { -ms-grid-row:4; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(5) { -ms-grid-row:5; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(6) { -ms-grid-row:6; -ms-grid-column:1; }
.skill_item { border:0; }
.skill_item .sk_title { font-size:14px; padding:7px; margin:0px; text-align:left; }
.skill_item .sk_txt_box { width:100%; height:0px; padding:0px; }
.skill_item .sk_txt_box .sk_txt { height:90px; }
.skill_item .sk_txt_box .sk_txt li { float:left; padding:0px 5px; font-size:12px; }
.skill_item .sk_txt_box .sk_txt li img { padding-right:7px; width:21px; }
    
    
/*s3*/
.slide h2 { padding-bottom:40px ;}
.section_content3 { width:84%; }
.slide .pf_img_container { display:none; }
.slide .pf_txt_container { width:100%; padding-left:10px; padding-right:10px; margin-top:-30px; }
.slide .pf_container .pf_img_1 { width:250px; position:relative; top:0; margin-top:20px; }
.slide .pf_container .pf_img_2 { width:100px; position:absolute; right:30px; top:120px; }
.slide .pf_container .pf_img_3 { width:40px; position:absolute; left:45px; top:130px; }
.slide .pf_txt_container .pf_title { display:none; }
.slide .pf_txt_container .mpf_img { display:block; margin-bottom:12px; margin:0 auto; }
.slide .pf_txt_container .pf_name { width:34%; float:left; padding:5px 0px; font-size:12px; line-height:1.3; }
.slide .pf_txt_container .pf_text { width:64%; padding:6px 0px; font-weight:bold; font-size:12px; line-height:1.3; }
.slide .pf_txt_container .pf_subtxt { display:none; }
.slide .pf_txt_container p span { display:none; }
.pf_gosite { margin-top:10px; margin-bottom:0px; }
.pf_gosite a { overflow:hidden; position:relative; display:inline-block; vertical-align:top; width: 00%; padding:7px 0; font-size:16px; border:1px solid #aaa; 
               transition:all 0.5s; }

    
/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom { bottom:25%; }
.fp-controlArrow.fp-prev { left:2%; background-size:80%; }
.fp-controlArrow.fp-prev:hover { background-size:80%; }
.fp-controlArrow.fp-next { right:2%; background-size:80%; }
.fp-controlArrow.fp-next:hover { background-size:80%; }
.fp_name { display none; }

#footer { position:absolute; left:0; bottom:0; background:#9caed2; width:100%; height:60px; line-height:20px; }
#footer_txt { font-size:13px; }


/*modal*/
.modal_body { position:relative; width:calc(270vw - 200px); height:800px; max-width:1620px; min-height:188px; padding:60px 20px 20px; background-color:#FFF; border-radius:6px;
              box-shadow: 0 5px 32px 0 rgb(15 15 15 / 15%); border:1px solid #c7c7c7; }		
}



@media (max-width:319px) {
#navTop { width:100%; height:50px; }
#navTop_box { width:90%; height:50px; }
#navTop_box #logo > a { float:left; line-height:40px; }
#navTop_box #logo > a > img { width:75%; vertical-align:middle; transition:all 1s; }
#navTop_box #logo > div { width:40px; line-height:50px; }
#navTop_box #logo > div > img { width:90%; }
#navTop_box #logo > span { display:none; }
#navTop_box #topMenu { display:none; }
.hamburger-button, .hamburger-button span { display:block!important; }



.section_content { width90%; }
.section_content h2 { position:relative; text-align:center; font-size:18px; letter-spacing:4px; }
.section_content1 h2 { color:#fff; padding:7px 0px; margin-top:50px; }
.section_content2 h2 { margin-top:50px; }

    
/*s0*/
.section_home { background:url(../img/background5.jpg) no-repeat center; }
.section_home .scroll_img { position:absolute; bottom:50px; left:50%; width:72px; height:72px; margin-left:-36px; cursor:pointer; animation:ani 0.5s infinite alternate; }  

@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff; }
	100% { transform:scale(1.2); opacity:0.8; color:#888; }
}				

   
/*s1*/
.left_box { width:100%; height:300px; float:left; margin-top:-100px; }

.right_box { width:100%; height:300px; float:right; position:relative; top:-100px; text-align:center; }
.right_box .pr_strengths ul li { line-height:25px; }
.right_box .pr_strengths ul li p:nth-child(1) { font-family:'Noto Sans KR', sans-serif; font-size:13px; font-weight:bold; }
.right_box .pr_strengths ul li p:nth-child(2) { font-size:11px; }    
    
.ct_box { width:100%; height:200px; background:#f6f7f9; position:relative; margin-top:150%; } 
.ct_inbox .ct_title { text-align:center; position:relative; top:-80px; }
.ct_inbox .ct_title h3 { text-align:center; width:140px; display:inline-block; background:#f6f7f9; font-size:17px; color:#46524a; }
.ct_inbox .ct_txt { display:flex; margin:0 auto; margin-top:-50px; margin-left:20px; }
.ct_inbox .ct_txt ul li { text-align:center; font-size:11px; }
.ct_inbox .ct_txt ul li:nth-child(1) { text-align:center; padding:15px 0 12px 0; }

    
/*s2*/
.skill_wrapper { display:grid; grid-template-columns:100%; grid-template-rows:70px 70px 70px 70px 90px 60px; padding-top:20px; }
.skill_wrapper { display:-ms-grid; display:grid; -ms-grid-columns:100%; grid-template-columns:100%; -ms-grid-rows:70px 70px 70px 70px 90px 60px; 
                 grid-template-rows:135px 135px 135px 90px 100px 60px; padding-top:20px; }
.skill_wrapper > *:nth-child(1) { -ms-grid-row:1; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(2) { -ms-grid-row:2; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(3) { -ms-grid-row:3; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(4) { -ms-grid-row:4; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(5) { -ms-grid-row:5; -ms-grid-column:1; }
.skill_wrapper > *:nth-child(6) { -ms-grid-row:6; -ms-grid-column:1; }
.skill_item { border:0; }
.skill_item .sk_title { font-size:14px; padding:7px; margin:0px; text-align:left; }
.skill_item .sk_txt_box { width:100%; height:0px; padding:0px; }
.skill_item .sk_txt_box .sk_txt { height:90px; }
.skill_item .sk_txt_box .sk_txt li { float:left; padding:0px 5px; font-size:12px; }
.skill_item .sk_txt_box .sk_txt li img { padding-right:7px; width:21px; }
    
    
/*s3*/
.slide h2 { padding-bottom:40px; }
.section_content3 { width:84%; }
.slide .pf_img_container { display:none; }
.slide .pf_txt_container { width:100%; padding-left:10px; padding-right:10px; margin-top:-30px; }
.slide .pf_container .pf_img_1 { width:250px; position:relative; top:0; margin-top:20px; }
.slide .pf_container .pf_img_2 { width:100px; position:absolute; right:30px; top:120px; }
.slide .pf_container .pf_img_3 { width:40px; position:absolute; left:45px; top:130px; }
.slide .pf_txt_container .pf_title { display:none; }
.slide .pf_txt_container .mpf_img { display:block; margin-bottom:12px; margin:0 auto; }
.slide .pf_txt_container .pf_name { width:34%; float:left; padding:5px 0px; font-size:12px; line-height:1.3; }
.slide .pf_txt_container .pf_text { width:64%; padding:6px 0px; font-weight:bold; font-size:12px; line-height:1.3; }
.slide .pf_txt_container .pf_subtxt { display:none; }
.slide .pf_txt_container p span { display:none; }
.pf_gosite { margin-top:10px; margin-bottom:0px; }
.pf_gosite a { overflow:hidden; position:relative; display:inline-block; vertical-align:top; width:100%; padding:7px 0; font-size:16px; border:1px solid #aaa; 
               transition:all 0.5s; }

    
/*s3 slideNavigation*/
.fp-slidesNav.fp-bottom { bottom:8%; }
.fp-controlArrow.fp-prev { left:2%; background-size:80%; }
.fp-controlArrow.fp-prev:hover { background-size:80%; }
.fp-controlArrow.fp-next { right:2%; background-size:80%; }
.fp-controlArrow.fp-next:hover { background-size:80%; }
.fp_name { display:none; }

#footer { position:absolute; left:0; bottom:0; background:#9caed2; width:100%; height:50px; line-height:25px; }
#footer_txt { font-size:11px; }


/*modal*/
.modal_body { position:relative; width:calc(270vw - 200px); height:800px; max-width:1620px; min-height:188px; padding:60px 20px 20px; background-color:#FFF; border-radius:6px;
              box-shadow: 0 5px 32px 0 rgb(15 15 15 / 15%); border:1px solid #c7c7c7; }			
}
